<span style="text-align: left;">
  <table>
    <tr>
      <td><i class="far fa-thumbs-up"></i></td>
      <td><i class="far fa-thumbs-down"></i></td>
      <td><i class="far fa-comment"></i></td>
    </tr>
    <tr>
      <td>2</td>
      <td>6</td>
      <td>2</td>
    </tr>
  </table>
</span>
